body {
  margin: 0;
}

:root {
  --primary: #005677;
}

/* colors */
.bg-gray-100 {
  background-color: #e6e6e6;
}
.bg-gray-200 {
  background-color: #c4c4c4;
}
.bg-blue {
  background-color: var(--primary);
}

.text-blue {
  color: var(--primary);
}
.text-white {
  color: #ffffff;
}

/*Width*/
.w-100 {
  width: 100px;
}

/*flexbox*/
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}

.gap-26 {
  gap: 26px;
}
.gap-30 {
  gap: 30px;
}

/*padding*/

.px-2-5 {
  padding: 0 10px;
}
.px-5 {
  padding: 0 20px;
}

.py-1-5 {
  padding: 6px 0;
}
.py-2 {
  padding: 8px 0;
}
.py-3 {
  padding: 12px 0;
}
.py-3-5 {
  padding: 14px 0;
}
.py-4 {
  padding: 16px 0;
}
.py-5 {
  padding: 20px 0;
}
.py-100 {
  padding: 100px 0;
}

.pt-5 {
  padding-top: 20px;
}

.pb-2-5 {
  padding-bottom: 10px;
}

/*margin*/
.m-0 {
  margin: 0;
}
/*text*/
.text-center {
  text-align: center;
}
.font-bold {
  font-weight: 700;
}
.font-italic {
  font-style: italic;
}
.letter-space-15 {
  letter-spacing: 15px;
}

.padding-subtitle {
  padding: 6px 10px;
  margin: 0;
  letter-spacing: 5px;
}

dd {
  padding-left: 39px;
}
